<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>Edit Profile</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %>
    <%- include("../partials/flashMessages.ejs") %>

    <div id="main">
      <%- include("../partials/userStatus.ejs") %>
      <% if (user) { %>
      <form
        class="input-box"
        action="/user/edit-profile"
        method="post"
        enctype="multipart/form-data"
      >
        <h2 class="heading">Edit Your Profile</h2>
        <div class="avatar-upload">
          <div class="avatar-preview">
            <img src="<%= avatar %>" alt="Avatar" class="avatar big" id="avatar-preview-img" />
            <div
              class="avatar big avatar-preview-text"
              id="avatar-preview-text"
            >
              <%= user.name.slice(0, 1) %>
            </div>
          </div>
          <div class="avatar-edit">
            <input
              type="file"
              name="avatar"
              id="avatar"
              accept="image/*"
              style="display: none"
            />
            <button class="edit" type="button">Change Photo</button>
            <button class="delete" type="button">Remove</button>
          </div>
        </div>
        <div class="box">
          <input
            type="text"
            name="name"
            class="name"
            placeholder="Enter your name"
            value="<%= user.name %>"
            required
          />
        </div>
        <button type="submit">Save Changes</button>
        <h3><a href="/user/profile">Go to Profile</a></h3>
      </form>
      <% } %>
    </div>

    <script src="/scripts/flashMessages.js"></script>
    <script>

      const previewImg = document.querySelector("#avatar-preview-img");
      const previewText = document.querySelector("#avatar-preview-text");
      const fileInput = document.querySelector("#avatar");
      const changeImgBtn = document.querySelector(".edit");
      const removeImgBtn = document.querySelector(".delete");

      if (
        previewImg.src &&
        previewImg.complete &&
        previewImg.naturalWidth !== 0
      ) {
        previewText.style.display = "none";
        previewImg.style.display = "grid";
      } else {
        previewImg.style.display = "none";
        previewText.style.display = "grid";
      }

      changeImgBtn.addEventListener("click", () => fileInput.click());
      fileInput.addEventListener("change", () => {
        const [file] = fileInput.files;
        if (file.type.includes("image/") && file.size <= 5 * 1024 * 1024) {
          const reader = new FileReader();

          reader.onload = function (e) {
            previewImg.src = e.target.result;
          };
          reader.readAsDataURL(file);

          previewText.style.display = "none";
          previewImg.style.display = "grid";
        } else {
          previewImg.style.display = "none";
          previewText.style.display = "grid";
        }
      });

      removeImgBtn.addEventListener("click", () => {
        fileInput.value = "";
        previewImg.src = "";
        previewImg.style.display = "none";
        previewText.style.display = "grid";
      });
    </script>
  </body>
</html>
