<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>User Links</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %>
    <% if (successes && successes.length >
    0) { %> <% successes.forEach((success) => { %>
    <p class="flash-success"><%= success %></p>
    <% }) %> <% } %> <% if (errors && errors.length > 0) { %> <%
    errors.forEach((error) => { %>
    <p class="flash-error"><%= error %></p>
    <% }) %> <% } %>

    <div id="main">
      <% if (user) { %>
      <div class="user-login-success">You are logged in</div>
      <% } else { %>
      <div class="user-login-warning">You are not-logged in</div>
      <% } %>

      <h2 class="heading">Shortened URLs</h2>
      <% if (links && links.length > 0) { %>
      <div class="url-box">
        <%links.map(({ _id, url, shortCode, redirectionCount }) => {%> <% const truncatedUrl =
        url.length >= 50 ? `${url.slice(0, 50)}...` : url; %>
        <div class="shorten-url">
          <div class="shorten-url-box">
            <a
              href="/shortUrl/<%= shortCode %>"
              target="_blank"
              rel="noopener noreferrer"
            >
              <%= host + "/shortUrl/" + shortCode %>
            </a>
            <br />
            <div title="<%= url %>"><%= truncatedUrl %></div>
            <h4>Redirection: <%= redirectionCount %></h4>
          </div>
          <div class="action-button">
            <button class="edit">
              <a href="/edit-shortened-url/<%= _id %>" type="button">Edit</a>
            </button>
            <form action="/delete-shortened-url/<%= _id %>" method="post">
              <button class="delete" type="submit">Delete</button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
      <% if (totalPages > 1) { %>
        <div class="pagination">
          <% if (currentPage > 1) { %>
            <a href="/user/<%= user.id %>/links?page=<%= currentPage - 1 %>">< <span>Previous</span></a>
          <% } %>
          <% if (startPage > 1) { %>
            <a href="/user/<%= user.id %>/links?page=1">1</a>
            <% if (startPage > 2) { %>
              <div>...</div>
            <% } %>
          <% } %>
          <% for (let i = startPage; i <= endPage; i++) { %>
            <% if (i === currentPage) { %>
              <span class="current"><%= currentPage %></span>
            <% } else { %>
              <a href="/user/<%= user.id %>/links?page=<%= i %>"><%= i %></a>
            <% } %>

          <% } %>
          <% if (endPage < totalPages) { %>
            <% if (endPage < (totalPages - 1)) { %>
              <div>...</div>
            <% } %>
            <a href="/user/<%= user.id %>/links?page=<%= totalPages %>"><%= totalPages %></a>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <a href="/user/<%= user.id %>/links?page=<%= currentPage + 1 %>"><span>Next</span> ></a>
          <% } %>
        </div>
      <% } %>
      <% } else { %>
      <h3>No Shortened Url</h3>
      <% } %>
    </div>
  </body>
</html>
