<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">
    <title>Links</title>
  </head>
  <body>
    <%- include("../layout/header.ejs") %>

    <div id="main">
      <% if (user) { %>
      <div class="user-login-success">You are logged in</div>
      <% } else { %>
      <div class="user-login-warning">You are not-logged in</div>
      <% } %>

      <h2 class="heading">Shortened URLs</h2>
      <% if (links && links.length > 0) { %>
      <div class="url-box">
        <% links.map(({shortCode, url, createdBy}) => {%>
          <% const truncatedUrl = url.length >= 50 ? `${url.slice(0, 50)}...` : url; %>
        <div class="shorten-url">
          <div class="avatar"><%= createdBy?.name.slice(0, 1) %></div>
          <div class="shorten-url-box">
            <a
              href="/shortUrl/<%= shortCode %>"
              target="_blank"
              rel="noopener noreferrer"
            >
              <%= host + "/shortUrl/" + shortCode %>
            </a>
            <br />
            <div title="<%= url %>"><%= truncatedUrl %></div>
          </div>
        </div>
        <% }) %>
      </div>
      <% if (totalPages > 1) { %>
        <div class="pagination">
          <% if (currentPage > 1) { %>
            <a href="/links?page=<%= currentPage - 1 %>">< <span>Previous</span></a>
          <% } %>
          <% if (startPage > 1) { %>
            <a href="/links?page=1">1</a>
            <% if (startPage > 2) { %>
              <div>...</div>
            <% } %>
          <% } %>
          <% for (let i = startPage; i <= endPage; i++) { %>
            <% if (i === currentPage) { %>
              <span class="current"><%= currentPage %></span>
            <% } else { %>
              <a href="/links?page=<%= i %>"><%= i %></a>
            <% } %>

          <% } %>
          <% if (endPage < totalPages) { %>
            <% if (endPage < (totalPages - 1)) { %>
              <div>...</div>
            <% } %>
            <a href="/links?page=<%= totalPages %>"><%= totalPages %></a>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <a href="/links?page=<%= currentPage + 1 %>"><span>Next</span> ></a>
          <% } %>
        </div>
      <% } %>
      <% } else { %>
      <h3>No Shortened Url</h3>
      <% } %>
    </div>
  </body>
</html>
